
# General files
*.res
*.vcxproj.user
*.pdb
*.o

# In the root
script_info_personal.txt
personal_script_info.txt

# Linux_mint_22.3
preserve_payload_contents.txt

/x64
.vs/
test/

# In the FileSystem_exe_rebuild directory (msbuild)
FileSystem_exe_rebuild/FileSyst.f4b2bb74/
FileSystem_exe_rebuild/Debug
FileSystem_exe_rebuild/Release
FileSystem_exe_rebuild/x64
